MusicMink/AppPackages/**
MusicMink/obj/**
MusicMink/bin/**
MusicMink/BundleArtifacts/**
MusicMinkAppLayer/bin/**
MusicMinkAppLayer/obj/**
MusicMinkBackgroundAudioPlayer/bin/**
MusicMinkBackgroundAudioPlayer/obj/**
packages/**
MusicMink.v12.suo
MusicMink/Package.StoreAssociation.xml
*.suo
*.user